* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    width: 64%;
}
#check{
    display: none;
}
#menu{
    position: absolute;
    right: 5%;
    top: 3%;
    visibility: hidden;
}
#wp {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 20;
    opacity: 0.7;
    transition: 0.5s;
}

#wp:hover {
    opacity: 1;
}
.all {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: -2;
    background-color: rgb(231, 179, 119);
}
.footer {
    margin-top: 5rem;
    height: fit-content;
    background-color: rgb(139, 81, 79);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 25px;
    color: #fff;
}
.header {
    background-color: rgb(139, 81, 79);
    display: flex;
    border-bottom: 5px solid white;
    align-items: center;
}

.logo {
    position: relative;
    left: 5%;
    width: fit-content;
    text-align: center;
    padding: 0;
}

.logo h1 {
    font-family: 'Rock Salt';
    font-style: normal;
    font-weight: 400;

    width: 240px;
    height: 45px;
}

.n-z {
    color: #ffffff;
    font-size: 15px;
    text-align: right;
}

.c-h {
    color: #ffffff;
    font-size: 9px;
    font-weight: 400;
    width: fit-content;
    padding: 0;
    text-align: end;
}

ul {
    display: flex;
    position: absolute;
    right: 15px;
    font-size: 20px;

}

li {
    font-family: 'Source Sans Pro';
    margin-right: 25px;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #242424;
    display: block;
    margin: auto;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

ul li a:hover {
    color: #3f3f3f;
}
.text {
    margin-top: 3%;
    margin-left: 7%;
}

.text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    /* identical to box height, or 50px */
    letter-spacing: -0.03em;
    color: whitesmoke;
    letter-spacing: 2px;
    width: fit-content;

}

.text h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    /* identical to box height, or 50px */
    letter-spacing: -0.03em;
    color: whitesmoke;
    width: fit-content;
    transform: translateX(20%);
}

.product{
    margin-left: 7%;
    background: rgb(139, 81, 79);
    height: 400px;
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
}
.coffee{
    align-items: center;
    text-align: center;
    width: 300px;
    font-size: 15px;
    margin-left: 1%;
    margin-top: 2%;
}
.coffee h1{
    width: 120px;
    height: 40px;
    margin:auto;
    padding-top: 3%;
    font-family: "Inter";
    font-size: 25px;
    color: whitesmoke;
}
.gram-select{
    width: fit-content;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-left: 1%;
}
.grams button{
    border: 0;
    border-radius: 15px;
    background-color: rgb(231, 179, 119);
    padding: 8px 15px;
    margin-bottom: 15%;
}
.select{
    background: rgb(152, 140, 140);
    border-radius: 20px;
    width: fit-content;display: flex;
    margin: auto;
}
.select input{
    width: 30px;
    height: 30px;
    border: 0;
    background: rgb(152, 140, 140);
    text-align: center;
    font-size: 20px;
}
.select button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    font-size: 30px;
    background: rgb(231, 179, 119);
}
.minus{
    width: 18px;
    height: 3px;
    background:black;
    text-align: center;
    align-items: center;
    transform: translateX(9px);
}
p{
    width: 90%;
    margin: auto;
    margin-top: 15%;
    text-align: left;
    font-family: "Inter";
    color: whitesmoke;
    font-size: 18px;
}
.right button{
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-top: auto;
    background-color: rgb(231, 179, 119);
    font-family: "Inter";
    margin-bottom: 10%;
}
.right{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.right button:hover{
    background: rgb(178, 138, 93);
}
.right button:active{
    background-color: rgb(231, 179, 119);
}
.grams button:hover{
    background: rgb(178, 138, 93);
}
.grams button:target{
    background-color: rgb(231, 179, 119);
}
@media screen and (max-width:980px) {
    .footer {
            margin-top: 5rem;
            height: fit-content;
            background-color: rgb(139, 81, 79);
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
    
        .footer {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 0.8rem;
            line-height: 25px;
    
            color: #fff;
        }
    p{
        font-size: 15px;
    }
    .coffee{
        width: 250px;
    }
    .gram-select
    {
        width: 250px;
    }
    .right button{
        margin-bottom: 15%;
    }
}
@media screen and (max-width:730px) {
    ul{
        width: 100%;
        height: 100%;
        background-color: rgb(139, 81, 79);
        right: 0;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        transition: 0s;
    }
    ul li{
        display: block;
        line-height: 600%;
    }
    ul li::after{
        display: none;
    }
    #menu{
        visibility: visible;
        z-index: 20;
    }
    #check:checked ~ ul{
        visibility: visible;
    }
    #wp {
            width: 50px;
            height: 50px;
        }
    .product{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        width: 80%;
    }
    p{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}